<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <!-- nav bar -->
  <div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Report Generator</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <nav class="navbar bg-body-tertiary">
          <li class="nav-item dropdown" style="list-style: none;">
              {% if user_logged_in %}
              <a type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
                  <img src="{{ url_for('static', filename='images/user.png') }}" alt="Bootstrap" width="25" height="25">
              </a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                  <li>
                      <button class="dropdown-item" type="button">
                          <a href="{{ url_for('profile') }}" style="text-decoration: none; color: #000;">Profile</a>
                      </button>
                  </li>
                  <li>
                      <button class="dropdown-item" type="button">
                          <a href="{{ url_for('myreports') }}" style="text-decoration: none; color: #000;">Dashboard</a>
                      </button>
                  </li>
                  <li><hr class="dropdown-divider"></li>
                  <li><button class="dropdown-item" type="button">Logout</button></li>
              </ul>
              {% else %}
              <a href="{{ url_for('login') }}" class="btn">
                  <img src="{{ url_for('static', filename='images/login_icon.png') }}" alt="Login" width="25" height="25">
              </a>
              {% endif %}
          </li>
      </nav>
      </div>
    </nav>
  </div>
  <!-- end nav bar -->

  <!-- main body start -->
  <div class="container" style="margin-top: 10%;">
    <div class="content m-5">
      <div class="text m-5">
        <h4 style="text-align: center; margin-top: 10%;">Generate Reports With AI!</h4>
      </div>
      <!-- First row -->
      <div class="row justify-content-center row-cols-md-3 g-4">
        <div class="col">
          <div class="card mb-3" style="width: 18rem; border-color: orange;">
            <div class="card-body">
              <div class="card-header">
                Generate Report with AI
              </div>
              <h5 class="card-title"></h5>
              <p class="card-text">Final Year Report.</p>
              <select class="form-select form-select-sm card-item mb-3" aria-label="Small select example">
                <option selected>Diagrams</option>
                <option value="1">With Diagrams</option>
                <option value="2">Without Diagrams</option>
              </select>
              <p class="card-text" style="text-align: center;">Rs. 599/-</p>
              <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo" style="background-color: orange;">Generate Report</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="width: 18rem; border-color: orange;">
            <div class="card-body">
              <div class="card-header">
                Custom Report
              </div>
              <h5 class="card-title"></h5>
              <p class="card-text">Microproject Report.</p>
              <select class="form-select form-select-sm card-item mb-3" aria-label="Small select example">
                <option selected>Diagrams</option>
                <option value="1">With Diagrams</option>
                <option value="2">Without Diagrams</option>
              </select>
              <p class="card-text" style="text-align: center;">Rs. 299/-</p>
              <a href="#" class="btn" style="background-color: orange">Generate Report</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end first row -->
    </div>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">New message</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Recipient:</label>
                  <input type="text" class="form-control" id="recipient-name">
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Message:</label>
                  <textarea class="form-control" id="message-text"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Send message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- main container end -->

  <!-- start Footer -->
  <footer style="position: fixed; bottom:0; width: 100%; background-color: #f0f9f9; padding: 10px 0; ">
    <div class="container-fluid bg-">
      <p class="text-center">Copyright &copy; 2024 | Designed and Developed by <a href="https://lsoysapps.com/"
          target="_blank" style="text-decoration: none;">LSOYS apps & games</a></p>
    </div>
  </footer>
  <!-- end footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
  <script>
    const exampleModal = document.getElementById('exampleModal')
    if (exampleModal) {
      exampleModal.addEventListener('show.bs.modal', event => {
        // Button that triggered the modal
        const button = event.relatedTarget
        // Extract info from data-bs-* attributes
        const recipient = button.getAttribute('data-bs-whatever')
        // If necessary, you could initiate an Ajax request here
        // and then do the updating in a callback.

        // Update the modal's content.
        const modalTitle = exampleModal.querySelector('.modal-title')
        const modalBodyInput = exampleModal.querySelector('.modal-body input')

        modalTitle.textContent = `New message to ${recipient}`
        modalBodyInput.value = recipient
      })
    }
  </script>
</body>

</html>