<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  
  <!-- nav bar -->

  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Report Generator</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Reports</a>
            </li>
          </ul>
          <nav class="navbar bg-body-tertiary">
            <div class="container">
              <a class="navbar-brand" href="#">
                <span>Profile</span>
                <img src="user.png" alt="Bootstrap" width="25" height="25">
              </a>
            </div>
          </nav>
        </div>
      </div>
    </nav>
  </div>
  <!-- end nav bar -->

  <!-- main body start -->
  <div class="container">
    <div class="content m-5">
      <div class="text m-5">
        <h4 style="text-align: center; margin-top: 10%;">Generate Reports With AI!</h4>
      </div>
      <!-- First row -->
      <div class="row justify-content-center row-cols-md-3 g-4">
        <div class="col">
          <div class="card mb-3" style="width: 18rem; border-color: orange;">
            <div class="card-body">
              <div class="card-header">
                Generate Report with AI
              </div>
              <h5 class="card-title"></h5>
              <p class="card-text">Final Year Report.</p>
              <select class="form-select form-select-sm card-item mb-3" aria-label="Small select example">
                <option selected>Diagrams</option>
                <option value="1">With Diagrams</option>
                <option value="2">Without Diagrams</option>
              </select>
              <p class="card-text" style="text-align: center;">Rs. 599/-</p>
              <a href="#" class="btn" style="background-color: orange;">Generate Report</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="width: 18rem; border-color: orange;">
            <div class="card-body">
              <div class="card-header">
                Generate Report with AI
              </div>
              <h5 class="card-title"></h5>
              <p class="card-text">Microproject Report.</p>
              <select class="form-select form-select-sm card-item mb-3" aria-label="Small select example">
                <option selected>Diagrams</option>
                <option value="1">With Diagrams</option>
                <option value="2">Without Diagrams</option>
              </select>
              <p class="card-text" style="text-align: center;">Rs. 299/-</p>
              <a href="#" class="btn" style="background-color: orange">Generate Report</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end first row -->
      <div class="text m-5">
        <h4 style="text-align: center;">Generate Reports Without AI!</h4>
      </div>
      <!-- start second row -->
      <div class="row justify-content-center row-cols-md-3 g-4">
        <div class="col">
          <div class="card mb-3" style="width: 18rem; border-color: orange;">
            <div class="card-body">
              <div class="card-header">
                Generate Report Without AI
              </div>
              <h5 class="card-title"></h5>
              <p class="card-text">Final Year Report.</p>
              <select class="form-select form-select-sm card-item mb-3" aria-label="Small select example">
                <option selected>Diagrams</option>
                <option value="1">With Diagrams</option>
                <option value="2">Without Diagrams</option>
              </select>
              <p class="card-text" style="text-align: center;">Rs. 399/-</p>
              <a href="#" class="btn" style="background-color: orange;">Generate Report</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="width: 18rem; border-color: orange;">
            <div class="card-body">
              <div class="card-header">
                Generate Report Without AI
              </div>
              <h5 class="card-title"></h5>
              <p class="card-text">Microproject Report.</p>
              <select class="form-select form-select-sm card-item mb-3" aria-label="Small select example">
                <option selected>Diagrams</option>
                <option value="1">With Diagrams</option>
                <option value="2">Without Diagrams</option>
              </select>
              <p class="card-text" style="text-align: center;">Rs. 399/-</p>
              <a href="#" class="btn" style="background-color: orange;">Generate Report</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end second row -->
      <div class="text m-5">
        <h4 style="text-align: center;">Custom Reports!</h4>
      </div>
      <!-- start third row -->
      <div class="row justify-content-center row-cols-md-3 g-4">
        <div class="col">
          <div class="card mb-3" style="width: 18rem; border-color: orange;">
            <div class="card-body">
              <div class="card-header">
                Custom Report
              </div>
              <h5 class="card-title"></h5>
              <p class="card-text">Final Year Report.</p>
              <select class="form-select form-select-sm card-item mb-3" aria-label="Small select example">
                <option selected>Diagrams</option>
                <option value="1">With Diagrams</option>
                <option value="2">Without Diagrams</option>
              </select>
              <p class="card-text" style="text-align: center;">Rs. 299/-</p>
              <a href="#" class="btn" style="background-color: orange;">Generate Report</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3" style="width: 18rem; border-color: orange;">
            <div class="card-body">
              <div class="card-header">
                Custom Report
              </div>
              <h5 class="card-title"></h5>
              <p class="card-text">Microproject Report.</p>
              <select class="form-select form-select-sm card-item mb-3" aria-label="Small select example">
                <option selected>Diagrams</option>
                <option value="1">With Diagrams</option>
                <option value="2">Without Diagrams</option>
              </select>
              <p class="card-text" style="text-align: center;">Rs. 199/-</p>
              <a href="#" class="btn" style="background-color: orange;">Generate Report</a>
            </div>
          </div>
        </div>
      </div>
      <!-- end third row -->
    </div>
  </div>
  <!-- main container end -->

<!-- start Footer -->
  <footer>
    <div class="container-fluid bg-">
      <p class="text-center">Copyright &copy; 2024 | Designed and Developed by <a href="https://lsoysapps.com/" target="_blank" style="text-decoration: none;">LSOYS apps & games</a></p>
    </div>
    <!-- end container -->
  </footer>
  <!-- end footer -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>